# Node
node_modules/
dist/
.env

# Flutter
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/

# Logs
*.log

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Backups
*.bkp

# Pacotes gerados
*.zip

# PostgreSQL local
database/postgres/

backend/.env
